
.navbar
  min-height: initial

.navbar-burger
  position: absolute
  right: 0
  z-index: 1

.hero-head
  .navbar-menu
    +desktop
      display: none

.navbar-menu
  +touch
    text-align: center
    background: rgba(0, 0, 0, 0.08) !important
  +desktop
    background: linear-gradient(to right, $primary 0%, $primary-darker 87%)

.navbar-link
  &::after
    border-color: white;
    opacity: .5;
