@import "_variables";

.CodeMirror {
  .CodeMirror-code {

    pre.CodeMirror-line {
      padding: 0;
      white-space: initial;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    .cm-formatting-strong {
      color: gray;
    }

    .cm-link {
        color: $primary;

      &.cm-formatting-link {
        color: gray;
      }
      &.cm-url {
        font-style: italic;
      }
    }
  }
}

.editor-preview,
.editor-preview-side {
  padding: 2rem;

  a {
    color: blue;
    text-decoration: underline;
    }
}
