{% import "snippets/navbar.html" as navbar %}
<header class="hero is-primary">
  <div class="hero-head">
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    {{ navbar::load(id='navMenu') }}
  </div>
  <div class="hero-body">
    <div class="columns">
      <figure class="column is-2">
        <a href="/"><img alt="" class="image is-128x128 is-rounded" src="/img/laboren-logo.svg"></a>
      </figure>
      <div class="column is-10">
        <h1 class="title">
          <a href="/">La Bona Renkontiĝo <small class="subtitle">kun Stela</small></a>
        </h1>
        <h2 class="subtitle">
          Lernu organizi Esperanto-renkontiĝojn aŭskultante podkastojn!
        </h2>
      </div>
    </div>
  </div>
</header>

{{ navbar::load() }}
