
{% macro pagination(page) %}
  <nav class="space-between" role="navigation" aria-label="pagination">
    {% if page.lighter %}
      <a href="{{ page.lighter.permalink | safe }}"
          class="button is-white has-text-grey" title="{{ page.lighter.title | safe }}">
        <span class="icon is-small">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span>Antaŭa <span class="is-hidden-mobile">epizodo</span></span>
      </a>
    {% endif %}
  
    {% if page.heavier %}
      <a href="{{ page.heavier.permalink | safe }}"
          class="button is-white has-text-grey" title="{{ page.heavier.title | safe }}">
        <span>Venonta <span class="is-hidden-mobile">epizodo</span></span>
        <span class="icon is-small">
            <i class="fas fa-arrow-right"></i>
        </span>
      </a>
    {% endif %}
  </nav>
{% endmacro pagination %}

{% macro comment(comment) %}
  <div id="c{{ comment.pk }}" class="media">
    <figure class="media-left">
      <p class="image is-64x64" style="background-color:{{ comment.color }}">{{ comment.name | truncate(length=1, end="") | capitalize }}</p>
    </figure>

    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ comment.name }}</strong>
          <small title="{{ comment.submit_date | date(format="%Y-%m-%d %H:%M:%S") }}">{{ comment.submit_date | date(format="%d-%m-%Y %H:%M") }}</small>
          <br>
          {{ comment.comment | safe }}
        </p>
      </div>
    </div>
  </div>
{% endmacro comment %}