<section class="section" id="laudoj">
  <h2 class="subtitle has-text-centered">Laŭdoj</h2>
<p>
    Ĉi tiujn komentojn la aŭskultantoj de <strong>#LaBoRen</strong> skribis pri la unua serio. Ĉu vi deziras aldoni la vian? 
    Ne hezitu lasi mesaĝon <a href="/kontakto/">al ni</a>, aŭ plenigu la mallongan enketilon <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2Dc6XYUo0E15Shn2yqXI5uEzUX2M-1kn9ExaH5V1yEFs1LQ/viewform">ĉi tie</a>.
</p>

  <section class="section">
    <div class="box">
      <p class="subtitle">
        <i>“Utilega serio! Mi lernis multon, ĝuis aŭskulti fluan paroladon de Eo kaj trovis la enhavon bone ordita kaj facile komprenita. Multan dankon pro via laboro.”</i>
      </p>
      <p class="has-text-right">Lanjo</p>
    </div>

    <div class="box">
      <p class="subtitle">
        <i>“Mia sperto de la serio estis verŝajne iomete malsama ol por aliaj, mi aŭskultis kaj sekvis ĝin ĉar mi volis plibonigi mian Esperanton. Kaj aŭskultante la serion mi vere ekis kompreni pli, ankaŭ la lingvo uzita estis moderna kaj interesa. Mi tre interesiĝas kaj antaŭĝojas pri la dua serio, kiu, mi esperas, elvenos baldaŭ.” </i>
      </p>
      <p class="has-text-right">Kriŝtof, Slovakio</p>
    </div>

    <div class="box">
      <p class="subtitle">
        <i>“La serio vere bone listigas kaj klarigas ĉiujn konojn kaj scipovojn necesajn por organizi ĝojplenan renkontiĝon. La tuto estas facile komprenebla kaj mi taksas ĝin ne tro timiga al novaj senspertaj homoj kiuj deziras mem organizi eventon.”</i>
      </p>
      <p class="has-text-right">Melono</p>
    </div>

  </section>
</section>