<aside class="menu column is-one-third">
  <p class="has-text-centered bottom-3">
    <a href="/subteno" class="button is-medium is-warning">
      <span>Subtenu</span>
      <span class="icon has-text-danger">
        <i class="fas fa-heart"></i>
      </span>
    </a>
  </p>

  {% set section = get_section(path="podkastoj/_index.md") %}
    {% for p in section.subsections | reverse %}
      {% set subsection = get_section(path=p) %}
      <p class="menu-label"> {{ subsection.title | safe }} </p>
        <ul class="menu-list">
          {% for page in subsection.pages | reverse %}
            <li>
              <a href="{{ page.permalink | safe }}" {% if current_path == page.path %}class="is-active"{% endif %}>
                {{ page.slug | split(pat="-") | first }} – {{ page.title | safe }}
              </a>
            </li>
          {% endfor %}
        </ul>
    {% endfor %}

  <p class="menu-label">Pepoj de #LaBoRen</p>
  <a class="twitter-timeline"
      href="https://twitter.com/lbr_eo"
      data-chrome="noheader nofooter noborders"
      data-tweet-limit="5"
  >Pepoj de @lbr_eo</a>
  <script defer async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</aside>