<div id="modal-aboni" class="modal">
    <div class="modal-background"></div>
    <form method="POST" action="/" class="modal-card form__subscribe" data-netlify="true" name="abonantoj" netlify-honeypot="mielo">
      <header class="modal-card-head">
        <p class="modal-card-title">Hej! Dankon ke vi estas ĉi tie!</p>
        <a class="delete modal__close" aria-label="close"></a>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <h4 class="h4">
            Antaŭ vi forlasas la retpaĝon, ni restu retamikoj? 💌
          </h4>

          <div class="field">
            <label for="id_email" class="label">
                Eksciu pri novaj epizodoj kaj pli retpoŝte
            </label>
            <div class="control has-icons-left">
              <input id="id_email" name="email" class="input is-medium"
                      type="email" maxlength="254" required
                      placeholder="via.adreso@ekzemplo.com">
              <span class="icon is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
            <p class="help">
              Vi ne ŝatas spamon? Nek ni!
              Vi ricevos sciigon nur pri la novaj epizodoj,
              retaj kaj personaj okazaĵoj rilate al #LaBoRen.
            </p>

        </div>
      </section>
      <footer class="modal-card-foot space-between">
        <a class="button modal__never_again">Mi jam abonas</a>

        <button class="button is-primary" type="submit">Amiko!</button>
      </footer>
      <input type="text" name="mielo" id="id_mielo" autocomplete="off" style="position:absolute;top:-1887em">
    </form>
  </div>
