{% macro load(id="") %}
<nav class="navbar">
  <div {% if id %}id="{{ id }}"{% endif %} class="navbar-menu navbar-end">
    {% for item in config.extra.menu %}
      <a class="navbar-item" href="/{{ item.url }}">{{ item.label }}</a>
    {% endfor %}
  </div>
</nav>
{% endmacro %}