  

<form name="abonantoj" method="POST" class="form__subscribe" netlify-honeypot="mielo" netlify>
  <input type="text" name="mielo" id="id_mielo" style="position:absolute;top:-1887em" autocomplete="off">

  <div class="field">
    <label for="id_email" class="label">
      
        Eksciu pri novaj epizodoj kaj pli retpoŝte
      
    </label>
    <div class="control has-icons-left">
      <input id="id_email" name="email" type="email" maxlength="254" value="" class="input is-medium " placeholder="via.adreso@ekzemplo.com">
      <span class="icon is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>
  
    <p class="help">
      Vi ne ŝatas spamon? Nek ni!
      Vi ricevos sciigon nur pri la novaj epizodoj,
      retaj kaj personaj okazaĵoj rilate al #LaBoRen.
    </p>
  
  <div class="has-text-right">
    
      <button class="button is-primary is-medium" type="submit">Sendi</button>
    
  </div>

</form>
