{% extends 'index.html' %}
{% block article %}
{% set current_path = "/" %}
    <h1 class="title has-text-centered is-huge">¯\_(ツ)_/¯</h1>
    <p></p>
    <h2 class="subtitle has-text-centered">Paĝo ne trovita</h2>
{% endblock %}
