{% extends "index.html" %}

{% block article %}
  <h1 class="title has-text-centered">Aŭskultu la plej novan epizodon nun!</h1>
  <div class="box home-box hero-pattern">
    {% set last_episode = get_page(path=config.extra.last_episode) %}
      <h2 class="title has-text-centered"><a href="{{ last_episode.permalink | safe }}">Parto {{ last_episode.slug | split(pat="-") | first }} {{ last_episode.title | safe }}</a></h2>
      <p class="has-text-centered">
        <a class="play-button button is-primary is-paddingless is-rounded" href="?ludu">
          <i class="fas fa-play"></i>
        </a>
      </p>
  </div>

  {% include "snippets/laudoj.html" %}

  <section class="section" id="aboni">
    <h2 class="has-text-centered subtitle">Aboni</h2>
    <div class="box">{% include "snippets/subscribe_form.html" %}</div>
  </section>
{% endblock article %}
