{% import "snippets/navbar.html" as navbar %}
<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{{ config.title | safe }}{% endblock head_title %}</title>
    <link rel="stylesheet" href="/laboren.css">
    <link rel="alternate" type="application/rss+xml" title="La Bona Renkontiĝo" href="/rss">
    {% include "snippets/favicons.html" %}
</head>
<body>
    {% include "snippets/header.html" %}

    <main class="section columns">
        {% block content %}
            <article class="content column is-two-thirds">
                {% block article %}{{ section.content | safe }}{% endblock %}
            </article>
        {% endblock content %}

        {% include "snippets/menu.html" %}
    </main>
    {% include "snippets/modal_subscribe.html" %}

    {% include "snippets/footer.html" %}

    <script src="/js/navbar.js"></script>
    <script src="/js/modal.js"></script>
    <script src="https://unpkg.com/qs@6.5.0/dist/qs.js"></script>
    <script src="https://unpkg.com/axios@0.16.1/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>
    <script src="/js/comments.js"></script>

    {% include "snippets/google_analytics.html" %}
</body>
</html>